<div class="border m-2 p-2">
        <h2>Know of a pet needing a home?</h2>

        <div *ngFor="let error of errors"> 
        {{ error }}
        </div>
        <form (submit)="createPet(newPet)" method="POST">
        <div class="form-group">
                <label for="name">Pet Name:</label>
                <input type="text" name="newPet.name" [(ngModel)] = "newPet.name">
        </div>
        <div class="form-group">
                <label for="type">Pet Type:</label>
                <input type="text" name="newPet.type" [(ngModel)] = "newPet.type">
        </div>
        <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="newPet.description" [(ngModel)] = "newPet.description">
        </div>
        <div class="form-group">
                <label for="skill_1">Skill 1</label>
                <input type="text" name="newPet.skill_1" [(ngModel)] = "newPet.skill_1">
        </div>
        <div class="form-group">
                <label for="skill_2">Skill 2</label>
                <input type="text" name="newPet.skill_2" [(ngModel)] = "newPet.skill_2">
        </div>
        <div class="form-group">
                <label for="skill_3">Skill 3</label>
                <input type="text" name="newPet.skill_3" [(ngModel)] = "newPet.skill_3">
        </div>
        <button type="submit" [routerLink]="['addPet', newPet]">Submit</button>
        </form>
</div>
